import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { InputTrackerDirective } from './input-tracker.directive';

@NgModule({
  imports: [CommonModule],
  declarations: [InputTrackerDirective],
  exports: [InputTrackerDirective]
})
export class InputTrackerModule {}
